.partial{:class => 'contact-info'}
  %p.address
    - if (!location.street_address && !location.street_address2 && !location.city && !location.geo_state && !location.postal_code && !location.geo_country)
      %span No address for this satellite.
    - else
      - if location.street_address
        %span.address1= location.street_address
      - if location.street_address2 
        %span.address2= location.street_address2 
      - if location.city
        %span.city>= location.city
      - if location.city &&  location.geo_state && location.geo_state.name
        ,
      - if location.geo_state && location.geo_state.name
        %abbr.state{:title => location.geo_state.name}= location.geo_state.abbreviation
      - if location.postal_code
        %span.zipcode= location.postal_code
      - if location.geo_country && location.geo_country.name
        %abbr.country{:title => location.geo_country.name}= location.geo_country.abbreviation

    - if detailed
      - work_contact_details = [ |
          ['Direct Phone:', location.phone], |
          ['Fax:',  location.fax], |
          ['Email:', location.email ], |
          ['Other Contact:', location.other_contact ], |
          ['Website:', ((!location.url || location.url =~ /^http:/ || location.url.empty?) ? location.url : 'http://' + location.url)], |
          ['Personal Blog:', ((!location.blog_url || location.blog_url =~ /^http:/ || location.blog_url.empty?) ? location.blog_url : 'http://' + location.blog_url) ], |
          ['Personal Twitter:', ((!location.twitter_url || location.twitter_url =~ /^http:/ || location.twitter_url.empty?) ? location.twitter_url : 'http://' + location.twitter_url) ], |
          ['Acronym:', location.acronym ], |
        ].compact.each do |contact_detail| |
        - label, value = contact_detail
        - unless value.blank?
          .pairs
            .key= label
            .value= value
