<div id="card-header"><%= flash_info %><%= flash_error %></div>
<div id="card-body">
  <div class="edit">
	<%= semantic_form_for @model, :url => @form_url, :html => {:class => 'to-self' + (@form_class || '')} do |form| %>
    <%= render :partial => @template, :locals => { :form => form, :model => @model} %>
	<% end %>

</div>

</div>

<div id="card-footer">
<ul class="workflow"></ul>
<ul class="buttons">
  <li><%= link_to 'Cancel', @model, :class => 'to-self' %></li>
</ul>
</div>