%div{:id=>"card-header"}
  = raw "#{raw flash_info} #{raw flash_error}"
  - if @model.errors
    = raw "<!-- errors: #{@model.errors.inspect} -->"
%div{:id=>"card-body"}
  %div.edit
    = semantic_form_for @model, :url => (@form_url || current_put_path(@model.id)), :html => {:class => 'to-self' + (@form_class || '')} do |form|
      - if params[:force_load_deleted] == '1'
        <input type=hidden name='force_load_deleted' value='1'>
      - if @fluxx_warnings && @fluxx_warnings.is_a?(Array) && !@fluxx_warnings.empty?
        = form.input :ignore_fluxx_warnings, :as => :hidden
        = raw @fluxx_warnings.join("<br>")
        %div{:style => 'display:none'}
          = render :partial => @markup, :locals => { :form => form, :model => @model}
      - else
        = render :partial => @markup, :locals => { :form => form, :model => @model}

- unless @skip_card_footer == true || (params[:as_modal] == "1" && !@delete_from_modal)
  %div{:id=>"card-footer"}
    %ul.workflow
    %ul.buttons
      - unless params[:as_modal]
        - if @model_name && @model
          %li= link_to('Cancel', current_show_path(@model.id, :unlock => 1), :class => 'to-self')
      - if @delete_from_modal
        %li= link_to('Delete', @model, :class => 'as-delete', 'data-on-success' => 'refreshCaller')
  = render :partial => 'insta/card_settings'

