<h1>Listing <%= @plural_model_name %></h1>

<div id="card-header">
      <%#= render :partial => "#{insta_path}/list_actions" %>
      <%= form_for :q, :url => url_for(:action => :index), :html => { :method => :get, :class => 'to-self' } do |f| %>
        <%= f.text_field :q, :value => (params[:q] ? params[:q][:q] : ''), :class => 'fluxx-card-listing-filter', :placeholder => 'Search...', :type => 'search' %>
      <% end %>
      <ul class="actions">
        <li><%= link_to 'CSV',   :format => :csv %></li>
        <li><%= link_to 'Excel', :format => :xls %></li>
      </ul>
</div>

<div id="card-body">
<ul class="list" fluxx:delta_type="<%= @delta_type %>">
<% @models.compact.each do |model| %>
  <li class="entry">
      <a href='<%= url_for(model) %>' class ='to-detail'>
        <%= throw Exception.new "Please specify an index template for the #{model.class} controller, otherwise we cannot render the page" if @template.blank? %>
        <%= render :partial => @template,  :locals => {:model => model} %>
      </a>
  </li>
<% end %>

</ul>
</div>
<div id="card-footer"><%= raw(fluxx_paginate(@models) || '<div class="no-pagination">' + pluralize(@models.length, "Entry") + '</div>') %></div>
