%h1
  Listing #{@plural_model_name}

#card-header
  = form_for :q, :url => url_for(:action => :index), :html => { :method => :get, :class => 'search area-url to-self' } do |f|
    = f.text_field :q, :value => (params[:q] ? params[:q][:q] : ''), :class => 'filter', :placeholder => 'Search...', :type => 'search'
  %ul.actions
    %li= link_to raw('&#9617;'), '#', :class => 'open-listing-actions', :title => 'Open/Close Listing Actions Tab'
    %li= link_to image_tag('/fluxx_engine/theme/default/images/icons/table.png', :alt => "CSV"), url_for(:format => :csv), :class => 'area-data'
    %li= link_to image_tag('/fluxx_engine/theme/default/images/icons/page_white_excel.png', :alt => "Excel"), url_for(:format => :xls), :class => 'area-data'
    %li= link_to image_tag('/fluxx_engine/theme/default/images/icons/arrow_refresh.png', :alt => 'Refresh Card'), '#', :class => 'refresh-card'
    %li= link_to image_tag('/fluxx_engine/theme/default/images/icons/cog_edit.png', :alt => 'Open Filters'), '#', :class => 'open-filters'

- throw Exception.new "Please specify an index template for the #{model.class} controller, otherwise we cannot render the page" if @template.blank?
#card-body
  %ul.list
    - @models.compact.each do |model|
      %li.entry{'data-model-id' => model.id}
        - unless @suppress_model_anchor_tag
          %a.to-detail{:href => url_for(model)}
            = render :partial => @template,  :locals => {:model => model}
        - else
          = render :partial => @template,  :locals => {:model => model}

#card-footer= raw(fluxx_paginate(@models) || '<div class="no-pagination">' + pluralize(@models.length, "Entry") + '</div>')

%ul#card-settings
  %li{:name => "model-param-name"}= @model_class.calculate_form_name
  %li{:name => "model-class"}= @model_class
  %li{:name => "listing-filter"}= url_for(:action => :index, :view => 'filter', :q => (params[:q] ? params[:q][:q] : ''))
  %li{:name => "icon-type"} green
