- if @skip_wrapper
  = render :partial => @template,  :locals => {:model => @model}
- else
  %div{:id=>"card-header"}= raw "#{raw flash_info} #{raw flash_error}"

  %div{:id=>"card-body"}
    %div.show
      = render :partial => @template, :locals => { :model => @model }

  - if @related && ! @exclude_related_data
    %ol{:id=>"card-drawer"}
      - @related.each do |rd|
        %li.section
          %span.label= rd[:display_name]
          %ol.entries
            - rd[:formatted_data].each do |element| 
              - section_title = if element[:display_template] 
                = render :partial => element[:display_template], :locals => {:model => element[:model]}
              - else
                = element[:model].to_s
              %li.entry
                = link_to(element[:model], :class => 'new-detail', 'data-insert' => 'after') do
                  %span= section_title

  %div{:id=>"card-footer"}
    %ul.workflow
      - if @footer_template
        = render :partial => @footer_template, :locals => { :model => @model}
      - else
        %li= link_to 'Edit', send("edit_#{@model_name}_path", @model), :class => 'to-self', :link_class => 'btn'
    %ul.buttons
      %li= link_to 'Printable', '#', :target => "_blank", :class => 'btn area-url'
  = render :partial => 'insta/card_settings'