<div id="card-header"><%= flash_info %><%= flash_error %></div>

<div id="card-body">
<div class="fluxx-card-show">
  <%= render :partial => @template, :locals => { :model => @model } %>
</div></div>

<%- if @related && ! @exclude_related_data -%>
  <ol id="card-drawer">
    <%- @related.each do |rd|
     -%>
      <li class="section">
        <span class="label"><%= rd[:display_name] %></span>
        <ol class="entries">
          <%- rd[:formatted_data].each do |element| 

                section_title = if element[:display_template] 
                  render :partial => element[:display_template], :locals => {:model => element[:model]}
                else
                  element[:display].values.join ' '
                end
          -%>
            <li class="entry">
              <% link_to(
                         element[:model],
                         :class => 'fluxx-card-link-to-new-card',
                         :title => element[:title].values.map{|v| v.to_s}.join(' '),
                         :dock_icon => '/images/ql-icons/48x48-grants.png') do
              %>
                <span><%= section_title %></span>
              <% end %>
            </li>
          <%- end -%>
        </ol>
      </li>
    <%- end -%>
  </ol>
<%- end -%>

<div id="card-footer">
  <%- 
  if @footer_template -%>
    <%= render :partial => @footer_template, :locals => { :model => @model} %>
  <%- else -%>
    <%= link_to 'Edit', send("edit_#{@model_name}_path", @model), :class => 'to-self', :link_class => 'btn' %>
  <%- end -%>
  <%= link_to 'Printable', '#', :target => "_blank", :class => 'btn area-url' %>
</div>
