<div id="card-header"><%= flash_info %><%= flash_error %></div>

<div id="card-body">
<div class="fluxx-card-show">
  <%= render :partial => @template, :locals => { :model => @model } %>
</div></div>

<%- if @model.respond_to?(:load_related_data) && ! @exclude_related_data -%>
<div class="fluxx-card-content-metadata">
<div class="fluxx-card-content-metadata-sections-scroll"><span>Scroll Tabs</span><a href="#" class="sections-scroll-left">&laquo;</a><a href="#" class="sections-scroll-right">&raquo;</a></div>
  <ol class="fluxx-card-content-metadata-sections">
    <%- @model.load_related_data.each do |rd|
     -%>
     <li><%= rd[:display_name] %>
     <div class="fluxx-card-content-metadata-section"><ol>
       <%- rd[:formatted_data].each do |element| 
        section_title = if element[:display_template] 
          render :partial => element[:display_template], :locals => {:model => element[:model]}
        else
          element[:display].values.join ' '
        end
       -%><li>
          <% link_to(element[:model], :class => 'fluxx-card-link-to-new-card', :title => element[:title].values.map{|v| v.to_s}.join(' '), :dock_icon => '/images/ql-icons/48x48-grants.png') do %>
            <span class="fluxx-card-content-metadata-section-title"><%= section_title %></span>
          <% end %>
        </li>
       <%- end -%>
     </ol></div>
     </li>
    <%- end -%>
  </ol>
  <div class="fluxx-card-content-metadata-info"></div>
</div>
<%- end -%>

<div id="card-footer">
  <%- 
  if @footer_template -%>
    <%= render :partial => @footer_template, :locals => { :model => @model} %>
  <%- else -%>
    <%= link_to 'Edit', send("edit_#{@model_name}_path", @model), :class => 'fluxx-card-link-to-self', :link_class => 'btn' %>
  <%- end -%>
  <%= link_to 'Printable', '#', :onclick => '$(this).attr("href", $(this).fluxxCardArea().data("url"))', :target => "_blank", :class => 'btn' %>
</div>
