- if @skip_wrapper
  = render :partial => @markup,  :locals => {:models => @models}
- else
  #card-header
  - throw Exception.new "Please specify an index template for the #{@plural_model_name} controller, otherwise we cannot render the page" if @markup.blank?
  #card-body
    .carousel{:id =>  "#{@controller.controller_name}_summary_view"}
      .panels
        = render :partial => @markup,  :locals => {:models => @models, :index_listing_display => true}
  #card-footer
    &nbsp;
    = link_to image_tag("/images/fluxx_engine/theme/default/icons/nav_left.png"), '#', :class => 'nav-left', :title => "Add Evaluation Metric", 'data-on-success' => 'refreshCaller,close'
    .carousel-pages
    = link_to image_tag("/images/fluxx_engine/theme/default/icons/nav_right.png"), '#', :class => 'nav-right', :title => "Add Evaluation Metric", 'data-on-success' => 'refreshCaller,close'


  = render :partial => 'insta/card_settings'
